body {
    margin: 0;

}
}

* {
    vertical-align: top;
}


.banner {
  background-color: #ECE0D2;
  width: 100%;
}


.banner h1 {
  background-color: #E4C5B0;
  color: white;
  font-size: 3em;
  letter-spacing: 4px;
  width: 50%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0;

}

.banner h2 {
  background-color: rgba(228, 199, 185, 0.71);
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
  width: 50%;
  height: 30%;
  position: relative;
  top: -40px;

}

.homePage {
  color: #a5a4a4;
  text-align: center;
}

.homePage img {
  width: 10%;
  /*border: black solid 1px;*/
}
